.nav {
background-color: seagreen;
padding: 15px 15px 15px 15px;
color: white;
border-style: solid;
border-bottom: black;
}

.nav li {
    display: inline;
    margin: 15px;
}

li a:hover {
    background-color: black;
}